<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="HrSyncService"
            class="com.landray.kmss.group.sync.service.spring.HrSyncService">
        <property name="hrStaffPersonInfoService">
            <ref bean="hrStaffPersonInfoService" />
        </property>
        <property name="hrStaffPersonExperienceContractService">
                <ref bean="hrStaffPersonExperienceContractService" />
        </property>
        <property name="sysOrgElementService">
            <ref bean="sysOrgElementService" />
        </property>
    </bean>

    <bean
            id="BonusPunishSyncService"
            class="com.landray.kmss.group.sync.service.spring.BounsPunishSyncService">
        <property name="hrStaffPersonExperienceBonusMalusService">
            <ref bean="hrStaffPersonExperienceBonusMalusService" />
        </property>
    </bean>

    <bean
            id="PersonSyncService"
            class="com.landray.kmss.group.sync.service.spring.PersonSyncService">
        <property name="hrStaffPersonInfoService">
            <ref bean="hrStaffPersonInfoService" />
        </property>
        <property name="hrStaffPersonExperienceContractService">
                <ref bean="hrStaffPersonExperienceContractService" />
        </property>
        <property name="sysOrgElementService">
            <ref bean="sysOrgElementService" />
        </property>
    </bean>

    <bean
            id="WorkExpService"
            class="com.landray.kmss.group.sync.service.spring.WorkExpService">
        <property name="hrStaffPersonExperienceWorkService">
                <ref bean="hrStaffPersonExperienceWorkService" />
        </property>
    </bean>

    <bean
            id="FamilyMemberService"
            class="com.landray.kmss.group.sync.service.spring.FamilyMemberService">
        <property name="hrStaffPersonFamilyService">
                <ref bean="hrStaffPersonFamilyService" />
        </property>
    </bean>



<!--    <bean-->
<!--            id="beglAttendSyncZkecoproService"-->
<!--            class="com.landray.kmss.attendance.sync.service.impl.BeglAttendSyncZkecoproServiceImpl">-->
<!--        <property name="sysAttendWebService"-->
<!--                  ref="sysAttendWebService"/>-->
<!--    </bean>-->

</beans>
